{% load static %}
<footer>
    <div class="wrapper-footer">
        <div class="logo">
            <span class="one-color">petfinder</span>
        </div>
        <div class="footer-list">
            <a href="#" target="_blank" title="LinkedIn"><i class="fa-brands fa-linkedin footer-link"></i></a>
            <a href="#" target="_blank" title="Email"><i class="fa-solid fa-circle-envelope footer-link"></i></a>
        </div>
    </div>
    <div class="footer-copyright">
        <p>copyright &copy; 2022 petfinder</p>
    </div>
</footer>