{% load static %}
<header>
    <div class = "navbar navbar-expand-lg navbar-light bg-dark">
        <h1 class = "logo">PetFinder</h1>
        <nav class="container-fluid justify-content-start ">
            <a class="nav-link home" href="{% url 'index' %}">Home</a>
            <a class="nav-link us" href="{% url 'sobre' %}">Sobre Nós</a>
            <a class="nav-link mapa" href="#">Mapa</a>
        </nav>
        <div class="login-wrapper container-fluid d-inline-flex justify-content-end">
            {% if user.is_authenticated %}
                <button class = "btn btn-outline-light login m-1" href="{% url 'dashboard' %}">
                    <a href="{% url 'dashboard' %}"> Meu Perfil</a>
                </button>
                <button class = "btn btn-outline-light login m-1" href="{% url 'logout' %}">
                    <a href="{% url 'logout' %}">LOGOUT</a>
                </button>
            {% else %}
                <button class = "btn btn-outline-light login m-1" href="#">
                    <a href="{% url 'login' %}">LOGIN</a>
                </button>
                <button class = "btn btn-outline-light login m-1" href="#">
                    <a href="{% url 'cadastro' %}">SIGN UP</a>
                </button>    
            {% endif %}
        </div>
    </div>
</header>