@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans:wght@300&family=Pacifico&display=swap');


:root{
--rose:        #ffe4e1;
--white:       #ffffff;
--guava:       #f47068;
--blue:        #add8e6;
--bluedark:    #B0C4DE;
--black:       #000000;

}

body {
    background-color: var(--white);
}

header {
    background-color: var(--rose);
}

/* css do navbar */

.nav-wrapper {
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width:100%;
    padding: 30px 0;
}

.logo {
    font-family: 'Pacifico';
    font-size: 40px;
    display: inline-flex;
    justify-content: center;
    flex: 1;
}

.one-color {
    color: var(--blue);
}

.two-color {
    color: var(--white);
}

.nav-list {
    flex: 4;
    display: inline-flex;
    justify-content: space-between;
}

.nav-list li {
    display: inline;
}

.nav-list ul {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    gap: 20px;
}

.nav-list a {
    font-family: 'Bree Serif';
    color: var(--guava);
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
}

.login-wrapper {
    flex: 1;
    display: inline-flex;
    justify-content: center;
    gap: 15px;
}

.login {
    background-color: var(--blue);
    font-family: 'Bree Serif';
    color: var(--rose);
    width: 100px;
    font-size: 17px;
    border-radius: 10px;
    border: solid transparent;
    cursor: pointer;
}

.login:hover {
    background-color: var(--bluedark);
}

.cadastro {
    flex: 1;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}

.cadastro a {
    font-family: 'Open Sans';
    color: var(--black);
    font-size: 13px;
    padding: 5px;
    text-decoration: none;
}

.cadastrar {
    font-family: 'Bree Serif';
    color: var(--black);
    font-size: 14px;
    font-weight: bold;   
}



.teste {
    text-align: center;
    font-size: 50px;
    color: var(--black) !important;
}

.bemvindo {
    text-align: center !important;
    padding-top: 5%;
}

.texto1 {
    font-weight: bold;
}

.wrapper {
    text-align: center;
    display: block;
    font-weight: bolder;
    margin-bottom: 5%;
}

.pngcat {
    width: 15%;
    vertical-align: top;
}


.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 900px;
    margin: 0 auto;
    grid-gap: 40px;
}

.card-text {
    font-size: smaller;
    margin-top: 5px;
    text-align: justify;
}

.feedback {
    background-color: var(--d-pink); 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 6px 6px 10px #a0a0a0 ;
}


.user {
    width: 100px;
    margin-bottom: 15px;
}

.wrapper-footer {
    border-top: 0.5px solid var(--grey) !important;
    text-align: center;
    font-weight: bolder;
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer {
    text-align: center;
    font-size: 30px;
    margin: 0px 0px 5px 0px;
    padding: 10px;
    padding-top: 5%;
    text-align: center;
    font-weight: bolder;
    color: var(--black);
    text-align: start;
    display: inline-flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}


.footer-list {
    display: inline-flex;
    justify-content: space-evenly;
    text-align: right;
    list-style: none !important;
    color: var(--black) !important; 
    padding: 5px;
    gap: 10px;
}

.footer-link {
    color: var(--greyd) !important;
    font-size: 25px;
    text-decoration: none;
}

.footer-copyright {
    display: inline-flex;
    justify-content: center;
    font-size: 13px;
}
