{% load static %}
<footer>
    <div class="wrapper-footer">
        <h2 class="logo teste footer">CatFinder</h2>
            <div class="footer-list">
                <li>
                    <a href="https://www.linkedin.com" target="_blank"> <i class="fa-brands fa-linkedin footer-link"></i></a>
                    <a href="https://www.instagram.com" target="_blank"> <i class="fa-brands fa-instagram-square footer-link"></i></a>
                    <a href="https://www.facebook.com" target="_blank"> <i class="fa-brands fa-facebook-square footer-link"></i></a>
                    <a href="https://www.twitter.com" target="_blank"> <i class="fa-brands fa-twitter-square footer-link"></i></a>

                </li>
            </div>
    </div>
    <div class="footer-copyright">
        <p> copyright &copy; 2022 CatFinder</p>
    </div>
</footer>