{% extends 'base.html' %}
{% load static %}
{% block content %}    

    <div class="wrapper-main">
        <div class="back-img">
            <img class="cachorro" src="{% static 'css/img/dono-cachorro.jpg' %}">
        </div>
        <div class="pergunta-afirmacao">
            <h2>Seu animal de estimação desapareceu?</h2>
            <h3>AQUI NO PETFINDER AJUDAMOS VOCÊ A ENCONTRAR SEU PET.</h3>
            <button class= "registrar-desaparecimento" href="#">REGISTRAR DESAPARECIMENTO</button>
        </div>
    </div>
    


{% endblock %}