{% extends 'base.html' %}
{% load static %}
{% block content %}    

    <div class="bemvindo">
        <h2 class="titulo">BEM VINDO AO</h2>
        <h3 class="logo teste">PetFinder</h3>
        <p class="texto1">
            Ajudamos você a encontrar seu gatinho.
        </p>
        <img class="pngcat" src="{% static 'css/img/pngcat.png' %}"> 
    </div>
    <div class="wrapper">
        <button type="button" class="btn btn-outline-dark registro">Registrar Desaparecimento</button>
    


    <h4 class="depoimentos">
        DEPOIMENTOS DE ALGUNS TUTORES
    </h4>
    <section class="cards">
        {% for depoimentos in dados_depoimentos %}
        <div class="feedback">            
            <img class="user" src="{{ depoimentos.imagem_depoimento.url }}" alt="">
            <h5>{{ depoimentos.nome_depoimento }}</h5>
            <p class="card-text">
                {{ depoimentos.texto_depoimento }}
            </p>
        </div>
        {% endfor %}
    </section>   
{% endblock %}