<div class="contact-area section-padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2>Entrar</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="contact-form-area">
                    <form action="{% url 'cadastro' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-lg-12">
                                <label for="email"><b>Email</b></label>
                                <input type="email" class="form-control" name="email" placeholder="Ex.: teste@teste.com" required>
                            </div>
                            <div class="col-12 col-lg-6">
                                <label for="password"><b>Senha</b></label>
                                <input type="password" class="form-control" name="password" placeholder="Digite sua senha" required>
                            </div>
                                <button class="btn btn-success" type="submit">Entrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>